__pycache__/
.ipynb_checkpoints/
data/*
tmp
results
necessary files
realdata/fMRIHPFs/
Rcode/to_R/
*.nii
*.swp
*.pkl

test.*
demo/*.jpg
others/*.zip
Rcode/*.txt
plots

!pyTVDN/data/
pyTVDN/tmpUtils.py
pyTVDN/TVDNRankTuning.py
pyTVDN/utils.py
pyTVDN/TVDNKappaTuning.py
realdata/
simulations/
