pyTVDN/__pycache__/*
__pycache__/*
.ipynb_checkpoints/*
demo/.ipynb_checkpoints/*
realdata/.ipynb_checkpoints/*
*.pkl
Rcode/*
test.*
simulation100.ipynb
tmp/*
data/*
!data/*.pkl
!pyTVDN/data/*
demo/*.jpg
