### Dependencies
### To install run:
### $ pip install -r requirements.txt

numpy 
scipy
rpy2
seaborn
easydict
tqdm
matplotlib
prettytable

### For robustness consideration, we also call some functions from R language
### So you also need "signal" package in R
